footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-content {
  padding: 28px;
  max-width: 1000px;
}
.select-language button:not(:last-child),
.facebook-links button,
.meta-copyright button {
  background: none;
  border: none;
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(146, 143, 143);
  font-size: 12px;
  align-items: center;
  letter-spacing: 0.5px;
}
.select-language button:last-child {
  padding: 1px 10px;
  background-color: #f4f6f8;
  border: 1px solid rgb(216, 211, 211);
  border-radius: 2px;
  cursor: pointer;
}
.select-language button:last-child:hover {
  background-color: #ebedef;
}
.footer-content hr {
  margin: 4px;
}
.facebook-links button {
  margin-right: 8px;
}
.meta-copyright {
  margin-top: 20px;
}
.footer-content button {
  cursor: pointer;
}
.select-language button:first-child {
  cursor: text;
}
.select-language button:not(:first-child) span:hover,
.facebook-links button span:hover {
  text-decoration: underline;
}
